.completed {
  padding: 0.2rem 0.4rem;
  background-color: var(--bg-success);
  color: var(--color-success);
  font-size: 0.8rem;
  border-radius: 0.3rem;
}

.incomplete {
  padding: 0.2rem 0.4rem;
  background-color: var(--bg-warning);
  color: var(--color-warning);

  font-size: 0.8rem;
}
