.header {
  padding-inline: var(--inline-padding);
  backdrop-filter: saturate(180%) blur(10px);

  nav {
    margin-inline: auto;
    height: 5rem;
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    column-gap: 1rem;
  }
}
