.header {
  // width: 100%;
  // position: fixed;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  // box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
  padding-inline: var(--inline-padding);
  backdrop-filter: saturate(180%) blur(10px);

  nav {
    margin-inline: auto;
    height: 5rem;
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    column-gap: 1rem;
  }
}
