.toggle {
  position: absolute;
  top: 2rem;
  right: 5rem;
  display: none;

  @media (min-width: 1280px) {
    display: block;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);

  @media (min-width: 1280px) {
    overflow-y: hidden;
    flex-direction: row;

    iframe {
      width: 75%;
      transition: width 0.3s;
    }

    section {
      width: 25%;
      position: absolute;
      left: 75%;
      transition: transform 0.3s;
    }

    &.withoutPlaylist {
      iframe {
        width: 100%;
      }

      section {
        transform: translateX(100%);
      }
    }
  }
}

.iframe {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: calc(100vh - 5rem);

  @media (min-width: 1280px) {
    height: 100%;
  }
}

.playlist {
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 325px;
  height: calc(100vh - 5rem);

  h2 {
    margin-block: 1.5rem 0.8rem;
  }

  article {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;

    span {
      font-size: 14px;
      font-weight: 500;
      color: var(--h2-color);
    }
  }
}

.currentVideo {
  padding-inline: 1rem;
}

.videos {
  overflow: auto;

  a {
    color: inherit;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    &:hover,
    &.selected {
      background-color: var(--video-selected);
    }
    p {
      flex-grow: 1;
    }
  }
}
