*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  --bg: white;
  --color: black;
  --opposite: black;
  --h2-color: #11181c;
  --video-selected: rgb(230, 230, 230);
  --border: rgba(0, 0, 0, 0.1);
  --outline: #d8d8d8;
  --bg-success: #e3f7f0;
  --color-success: #2d9a76;
  --bg-error: #f7e6e3;
  --color-error: #9a3f2d;
  --bg-warning: rgb(246, 246, 193);
  --color-warning: rgb(174, 174, 25);
  --scrollbar: rgba(0, 0, 0, 0.2);

  &.dark {
    --bg: rgb(26, 26, 26);
    --color: white;
    --h2-color: white;
    --opposite: white;
    --video-selected: rgb(40, 40, 40);
    --border: rgba(255, 255, 255, 0.1);
    --outline: #383838;
    --bg-success: #0f3327;
    --color-success: #ace7d3;
    --bg-error: #33150f;
    --color-error: #e7b6ac;
    --bg-warning: rgb(58, 58, 8);
    --color-warning: rgb(242, 242, 161);
    --scrollbar: rgba(255, 255, 255, 0.2);

    // filter: invert(0.9) hue-rotate(180deg);
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px;
}

::selection {
  background: rgba(231, 104, 0, 0.2);
}

:root {
  --inline-padding: 1rem;

  @media (min-width: 768px) {
    --inline-padding: 2.5rem;
  }
}

body {
  font-family: 'Inter', system-ui;
  background-color: var(--bg);
  color: var(--color);
  overflow-x: hidden;

  &.with-transition {
    transition: background-color 0.3s, color 0.3s;
  }

  * {
    // temporal
    transition: background-color 0.3s;
  }
}

button,
input {
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: 1px solid var(--outline);
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--color);
  padding-left: 0.5rem;

  &:focus {
    outline-color: #006be7;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

// CLASSNAMES

.btn {
  padding: 0.7rem 2rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}

.main-btn {
  background-color: #006be7;
  box-shadow: 2px 2px 16px rgba(0, 114, 245, 0.5);
  border-radius: 0.5rem;
  color: white;
  padding: 0.7rem 2rem;
  font-size: 0.9rem;
}

.secondary-btn {
  background-color: #9750dd;
  // box-shadow: 2px 2px 16px #571D91;
  box-shadow: 0 4px 14px 0 #571d91;
  border-radius: 0.5rem;
  color: white;
  padding: 0.7rem 2rem;
  font-size: 0.9rem;
}

.avatar {
  border-radius: 50%;
}

.toast {
  backdrop-filter: blur(32px);
}

.videos {
  overflow: auto;

  picture {
    display: flex;

    &:hover,
    &.selected {
      background-color: var(--video-selected);
    }
  }

  button.btn-undone {
    width: 3.5rem;

    svg {
      border-radius: 50%;
      background-color: transparent;
    }
  }

  button.btn-done {
    width: 3.5rem;

    svg {
      border-radius: 50%;
      background-color: #17c964;
      fill: white;
    }
  }

  button#btn-video {
    color: inherit;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    text-align: left;
    width: 100%;

    p {
      flex-grow: 1;
    }
  }
}

.pointer-none {
  pointer-events: none;
}
